@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');

* {
    font-size: 18px;
    margin: 0;
    padding: 0;
    font-family: 'Space Grotesk', sans-serif;
}

:root {
    --Linear_gradient: hsl(249, 99%, 64%) to hsl(278, 94%, 30%);
    --Red: hsl(0, 100%, 66%);
    --White: hsl(0, 0%, 100%);
    --Light_grayish_violet: #dedddf;
    --Dark_grayish_violet: #8e8593;
    --Very_dark_violet: #21092f;
}

@media screen and (max-width: 480px) {

    .bg-main-mobile img {
        display: flex !important;
        width: 100vh;

    }

    .bg-main-mobile {
        width: 100%;
    }

    .cartao-front {
        top: 350px !important;
        left: 260px !important;
        z-index: 1;
    }
    .cartao-back {
        top: 62px !important;
        left: 300px !important;
    }
   

    .direita .forms,
    .datas {
        display: flex;
        justify-content: center !important;
        align-items: center !important;
    }

    

    .cardImg {
        height: 180px;
    }


    .bg-main {
        display: none;
    }

    main {
        overflow-x:hidden;
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column !important;
        gap: 180px !important;
    }


    .tituloCard {
        position: relative;
        right: 20px;
        bottom: 95px;
        font-size: 8pt;
    }

    .iconCardFront {
        position: relative;
        right: 13px;
        bottom: 11px;
        width: 55px;
    }

    #escrNum {
        font-size: 14pt;
        position: relative;
        bottom: 50px;
    }

    .dateCard {
        font-size: 10pt !important;
        position: absolute;
        top: 30px !important;
        left: 260px !important;
    }

    .cvvCard {
        z-index: 1;
        position: absolute;
        top: 82px !important;
        left: 250px !important;
    }


    #escrcvv {
        font-size: 10pt !important;
    }

    #escrmes {
        font-size: 10pt !important;

    }

    #escrName{
        font-size: 10pt;
        position: relative;
        bottom: 60px;
    }

    #escrano {
        font-size: 10pt !important;
    }

    .form-floating input {
        display: flex;
        align-items: center !important;
        width: 380px !important;
    }

    .form-floating-cvv input {
        width: 170px !important
    }

    .btn {
        margin-top: 50px;
        width: 380px !important;
        margin-bottom: 100px;
    }

    .esquerda {
        max-width: 100vh;
    }

    #label-name {
        position: absolute;
        bottom: 145px;
        left: 25px !important;
    }

    #label-card {
        position: absolute;
        bottom: 59px;
        left: 25px !important;
    }

    #label-mes {
        position: absolute;
        bottom: 55px !important;
        left: 25px !important;
    }

    #label-cvv {
        position: absolute;
        left: 230px;
    }

    .form-floating-sm  {
        margin-right: -15px;
    }

}

main {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    gap: 500px;
}

.esquerda {
    display: flex;
    align-items: center;
    position: relative;
}

.cartoes {
    display: flex;
    flex-direction: column;
    position: absolute;

}

.cartao-back {
    position: relative;
    top: 2px;
    left: 250px;
}

.cartao-front {
    position: relative;
    bottom: 40px;
    left: 170px;
}

.direita {
    width: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: start;
}

.form-floating input {
    margin: 5px;
    padding: 10px;
    height: 30px;
    /* width: 500px; */
    padding: 10px;
    border: 1px solid var(--Light_grayish_violet);
    border-radius: 7px;
}

.form-floating label {
    color: var(--Very_dark_violet);
}

.form-floating input:focus {
    outline: 1px solid var(--Dark_grayish_violet);
}


.form-floating-sm input {
    margin-top: 25px;
    height: 30px;
    width: 70px;
    padding: 10px;
    border: 1px solid var(--Light_grayish_violet);
    border-radius: 7px;
}

.form-floating-sm input:focus {
    outline: 1px solid var(--Dark_grayish_violet);
}

.form-floating-sm label {
    color: var(--Very_dark_violet);
}

.form-floating-cvv input {
    margin-top: 25px;
    height: 30px;
    width: 270px;
    padding: 10px;
    border: 1px solid var(--Light_grayish_violet);
    border-radius: 7px;
}

.form-floating-cvv label {
    color: var(--Very_dark_violet);
}


#label-name {
    position: absolute;
    bottom: 145px;
    left: 5px;
}

#label-card {
    position: absolute;
    bottom: 59px;
    left: 5px
}

#label-mes {
    position: absolute;
    bottom: 60px;
    left: 5px;
}

#label-cvv {
    position: absolute;
    left: 230px;
}

.btn {
    color: var(--Light_grayish_violet);
    background-color: var(--Very_dark_violet);
    border-radius: 7px;
    height: 50px;
    width: 525px;
    border: none;
}

#escrNum {
    color: var(--Light_grayish_violet);

    background: none;
    border: none;
}

.forms {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 450px;
}

.datas {
    position: relative;
    width: 435px;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.numeroCartao {
    height: 100px;
    color: var(--Light_grayish_violet);
    position: absolute;
    top: 150px;
    left: 40px;
}

.iconCard {
    position: absolute;
    top: 30px;
    left: 30px;
}

.nameCard {
    color: var(--Light_grayish_violet);
    position: absolute;
    top: 200px;
    left: 40px;
}

.dateCard {
    display: flex;
    flex-direction: row;
    color: var(--Light_grayish_violet);
    position: absolute;
    top: 40px;
    left: 360px;
}


.cvvCard {
    color: var(--Light_grayish_violet);
    position: absolute;
    top: 107px;
    left: 355px;
}

.confim {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.titulo {
    font-size: xx-large;
}

.bg-main-mobile img {
    display: none;
}