*{
    margin: 0;
    padding: 0;
}

:root{
    Linear_gradient: hsl(249, 99%, 64%) to hsl(278, 94%, 30%);
    Red: hsl(0, 100%, 66%);
    
    White: hsl(0, 0%, 100%);
    Light_grayish_violet: hsl(270, 3%, 87%);
    Dark_grayish_violet: hsl(279, 6%, 55%);
    Very_dark_violet: hsl(278, 68%, 11%);
}

main{
    display: flex;
    flex-direction: row;
    gap: 500px;
}

.esquerda{
    display: flex;
    align-items: center;
    position: relative;
}

.cartoes{
    display: flex;
    flex-direction: column;
    position: absolute;
}

.cartao-back{
    position: absolute;
    top: -10px;
    left: 250px;
}

.cartao-front{
    position: absolute;
    bottom: 40px;
    left: 170px;
}

.direita{
    width: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.forms{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 450px;
}
.selects{
    display: flex;
    flex-direction: row;
    gap: 20px;
}
