*{
    margin: 0;
    padding: 0;
}

:root{
    Linear_gradient: hsl(249, 99%, 64%) to hsl(278, 94%, 30%);
    Red: hsl(0, 100%, 66%);
    
    White: hsl(0, 0%, 100%);
    Light_grayish_violet: #dedddf;
    Dark_grayish_violet: #8e8593;
    Very_dark_violet: hsl(278, 68%, 11%);
}

main{
    display: flex;
    flex-direction: row;
    gap: 500px;
}

.esquerda{
    display: flex;
    align-items: center;
    position: relative;
}

.cartoes{
    display: flex;
    flex-direction: column;
    position: absolute;
}

.cartao-back{
    position: relative;
    top: 50px;
    left: 250px;
}

.cartao-front{
    position: relative;
    bottom: 5px;
    left: 170px;
}

.direita{
    width: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.forms{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 450px;
}
.selects{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.numeroCartao{
    color: #dedddf;
    position: absolute;
    top: 150px;
    left: 40px;
}

.iconCard{
    position: absolute;
    top: 30px;
    left: 30px;
}
.nameCard{
    color: #dedddf;
    position: absolute;
    top: 200px;
    left: 40px;
}

.cvvCard{
    color: #8e8593;
    position: absolute;
    top: 107px;
    left: 355px;
}